  html }
  height: 100%;
  width: 100%;
  }

  #Divpai {
  Height: 100%;
   Width: 100%;
  Background-color:black;


  #div 1 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 2 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 3 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 4 {
  eight: 30%;
  Width: 30%;
  Color: white;
   

  #div 5 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 6 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 7 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 8 {
  Height: 30%;
  Width: 30%;
  Color: white;


  #div 9 {
  Height: 30%;
  Width: 30%;
  Color: white;
